<div class="page-container">

  <!-- Top Bar -->
  <div class="top-bar">
    <button class="btn-new" (click)="openDialog()">
      <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
        <polyline points="14 2 14 8 20 8"></polyline>
        <line x1="12" y1="18" x2="12" y2="12"></line>
        <line x1="9" y1="15" x2="15" y2="15"></line>
      </svg>
      <span>جديد</span>
    </button>
  </div>

  <!-- Filter -->
  <div class="filter-bar">
    <input type="text" [(ngModel)]="search" (input)="applyFilter()" placeholder="بحث ...">
  </div>

  <!-- Table -->
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <!-- <th>#</th> -->
          <th>اسم الصف</th>
          <th>الشعبة</th>
          <th>السعة</th>
          <th>تعديل</th>
          <th>حذف</th>
        </tr>
      </thead>
      <tbody>
        @for (c of filtered; track c.id) {
        <tr>
          <!-- <td>{{ c.id }}</td> -->
           <td>{{ getGradeName(c.grade_id) }}</td>
          <td>{{ c.name }}</td>

          <td>{{ c.capacity }}</td>

          <td>
            <button class="icon-btn-table edit" (click)="edit(c)">✎</button>
          </td>

          <td>
            <button  class="icon-btn-table delete" (click)="delete(c.id!)">
              🗑
            </button>
          </td>
        </tr>
        }
      </tbody>

    </table>
  </div>

</div>

@if (isDialogOpen) {
<div class="dialog-overlay" (click)="closeDialog()">
  <div class="dialog-box" (click)="$event.stopPropagation()">

    <div class="dialog-header">
      <button class="close-btn" (click)="closeDialog()">✖</button>
      <h3>{{ dialogTitle }}</h3>
    </div>

    <form [formGroup]="form" class="dialog-body">

      <div class="form-grid">
        <div class="form-col">
          <label>الصف</label>

          <select formControlName="grade">
            @for (g of grades; track g.id) {
            <option [value]="g.id">{{ g.name_ar }}</option>
            }
          </select>


          <label>الشعبة</label>
          <input formControlName="name">
        </div>


        <div class="form-col">
          <label>السعة</label>
          <input type="number" formControlName="capacity">
        </div>

      </div>

      <div class="footer-buttons">
        <button type="button" class="btn-save" (click)="save()">💾 حفظ</button>
        <button type="button" class="btn-exit" (click)="closeDialog()">❌ خروج</button>
      </div>

    </form>
  </div>
</div>
}
