@media (max-width: 768px) {
  .sign-in-container {
    padding: 10px;
  }
}

.login-page {
  background: #8910d9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  direction: rtl;
  font-family: 'Cairo', sans-serif;
}

.wave-bg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: #053c83;
  border-top-left-radius: 50% 40px;
  border-top-right-radius: 50% 40px;
}

.login-card {
  background: #f7f6f8;
  padding: 40px;
  border-radius: 12px;
  width: 400px;
  box-shadow: 0 4px 20px rgba(162, 19, 19, 0.2);
  text-align: center;
  z-index: 1;
}

.mat-select-arrow {
  color: #8910d9;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

.full-width {
  width: 100%;
  margin-top: 15px;
  color: #8910d9;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.fingerprint-btn {
  margin-top: 10px;
  border-color: hsl(268, 80%, 41%);
}

.links {
  margin-top: 15px;

  a {
    color: #0603a7;
    text-decoration: none;
  }
}
