.tree-wrapper {
  width: 100%;
  padding: 5px;
}

.mat-tree-node {
  font-size: 14px;
}

.mat-tree-node button {
  border: none;
  outline: none;
}

.mat-checkbox {
  margin-right: 5px;
}

.BtnBorder {
  border-right: 3px blue solid;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}
