  <footer style="  " class="footer_style">
    <div class="hearder_style">
      <p>
        نحن ملتومون بتوفير تعليم عالي الجودة ومتوفر للجميع خصيصا لاصحاب الصم والبكم في اليمن مع مستوى مرئي وتفاعلي يناسب
        احتياجاتهم
      </p>
      <div>

        <!-- <div>
          <ul style=" list-style: none; display: flex; direction: rtl; margin-right: 20px;">
            <li><a href="#" style="margin-right: 20px;" ><i>
                  <div>من نحن </div>
                </i></a></li>
            <li> <a href="#" style="margin-right: 20px;"><i>
                  <div>خدماتنا </div>
                </i></a></li>
            <li><a href="#" style="margin-right: 20px;"> <i>
                  <div> اليمن تعز </div>
                </i></a></li>
            <li><a href="#" style="margin-right: 20px;"><i>
                  <div> +967772443902 </div>
                </i></a></li>
            <li> <a href="#" style="margin-right: 20px;"><i>
                  <div>Email-Us : hai.haifa2018@gmail.com</div>
                </i></a></li>

            <li> <a href="#" class="menu-item"><i>
                  <div>فسبوك</div>
                </i></a></li>
            <li> <a href="#" class="menu-item"><i>
                  <div>تويتر</div>
                </i></a></li>
            <li><a href="#" class="menu-item"><i>
                  <div>انستجرام</div>
                </i></a></li>
            <li> <a href="#" class="menu-item"><i>
                  <div>واتس اب </div>
                </i></a></li>
            <li> <a href="#" class="menu-item"><i>
                  <div>لينكد ان</div>
                </i></a></li>
            <li> <a href="#" class="menu-item"><i>
                  <div>يوتيوب</div>
                </i></a></li>
          </ul>
</div> -->
      </div>
    </div>

    <section>
      <div class="reserch_style" style="display: flex; text-align: center;">

        <div class="value-card1" style="width: 30%;">+ 500 <br />طالب مسجل</div>
        <div class="value-card1" style="width: 30%;">+ 50 <br />درس تفاعلي</div>
        <div class="value-card1" style="width: 30%;">+15 <br />درس متخصص </div>
        <div class="value-card1" style="width: 30%;">98 % <br />نسبة الرضا </div>
      </div>
    </section>
    <div class="bg-gray-800 text-white py-8" style="text-align: center; background-color: rgb(144, 69, 214);">
      <div class="container mx-auto px-6 text-center">
        <div class="text-3xl mb-4">🤟</div>
        <p class="text-lg font-bold mb-2">دليل للصم والبكم</p>
        <p class="text-gray-400">جسر التواصل نحو مستقبل أفضل</p>
        <div class="mt-6 text-sm text-gray-500">
          © 2025 جميع الحقوق محفوظة - دليل للصم والبكم
        </div>
      </div>
    </div>
  </footer>
